a{
    color: white;
    text-decoration: none;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_bar{
    position: fixed;
    height: 4rem;
    width: 80rem;
    margin-left: -8px;
    margin-top: -8px;
}
.logo:hover{
    opacity: 1;
}
.logo{
    height: 90px;
    width: 140px;
    opacity: 0.5;
}
.first_half_menu_bar{
    border: 1px solid black;
    height: 4rem;
    width: 35rem;
    margin-top: -8px;
    margin-left: -8px;
}
.index_1{
    font-size: xx-large;
    font-family: serif;
    margin-left: 5rem;
}
.index_2{
    font-size: xx-large;
    font-family: serif;
    margin-left: 5rem;
}
.index_3{
    font-size: xx-large;
    font-family: serif;
    margin-left: 5rem;
}
.index_4{
    font-size: xx-large;
    font-family: serif;
    margin-left: 5rem;
}