a{
    text-decoration: none;
    color: white;
}
#div>a:hover{
    box-shadow: 5px brown;
}
.logo:hover{
    opacity: 1;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.logo{
    height: 90px;
    width: 140px;
    margin-left: 70rem;
    opacity: 0.5;
    transition: transform .2s;
}
.menu_bar{
    height: 20rem;
    width: 11rem;
    margin-left: -8px;
}
.arrow{
    height: 4rem;
    transform: rotate(90deg);
    margin-top: 10rem;
}
.link1{
    font-family: cursive;
    font-size: xx-large;
}
.link{
    font-family: cursive;
    font-size: xx-large;
    margin-top: 2rem;
}
.body{
    font-size: x-large;
    text-transform: uppercase;
    color: yellowgreen;
    font-family: cursive;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
    font-weight: bolder;
    opacity: 0.5;
}
p:hover{
    text-shadow: 2px 2px 2px yellowgreen;
}
.main{
    border: 1px solid white;
    background-color: black;

}